<a href="" class="logo d-flex align-items-center">
    <!-- Uncomment the line below if you also wish to use an image logo -->
    <img src="{% static 'assets/img/logo1.JPG'%}" alt="">
    <!-- <h1 class="sitename">CeCCA</h1> -->
  </a>

  <nav id="navmenu" class="navmenu">
    <ul>
      <li><a href="#hero" class="active">Home</a></li>
      <li><a href="#about">About Us</a></li>
      <li><a href="#services">Programs</a></li>
      <li><a href="#get-involved">Get Involved</a></li>
      <li><a href="#contact">Contact Us</a></li>
    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
  </nav>

</div>
</header>

<main class="main">

<!-- Hero Section -->
<section id="hero" class="hero section">

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
      <!-- First Image -->
      <div class="carousel-item active" data-bs-interval="3000">
          <img src="{% static 'assets/img/new_conflict2.jpg'%}" class="d-block w-100" alt="First Slide">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="animate__animated animate__fadeInDown">Center for Conflict and Climate Action</h5>
            <p class="animate__animated animate__fadeInUp">CeCCA - Committed to reducing climate-induced conflicts.</p>
          </div>
      </div>
      <!-- Second Image -->
      <div class="carousel-item" data-bs-interval="3000">
          <img src="{% static 'assets/img/hero7.JPG'%}" class="d-block w-100" alt="Second Slide">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="animate__animated animate__fadeInDown">Center for Conflict and Climate Action</h5>
            <p class="animate__animated animate__fadeInUp">To become a leading hub for information, analysis and response on the Climate-Conflict Nexus in the ASAL region.
              By bridging the gap between data, policy, and action, we strive to build a resilient society that thrives in the face of environmental adversity.</p>
          </div>
      </div>
      <!-- Third Image -->
      <div class="carousel-item" data-bs-interval="3000">
          <img src="{% static 'assets/img/ai_conflict2.png'%}" class="d-block w-100" alt="Third Slide">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="animate__animated animate__fadeInDown">Center for Conflict and Climate Action</h5>
            <p class="animate__animated animate__fadeInUp">To Avail Early warning and Response initiatives on Climate and Conflict, empowering Stakeholders and Communities to take timely and informed action against climate-induced Conflicts and Shocks in the ASAL regions.</p>
          </div>
      </div>
  </div>
  <!-- Optional: Carousel Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>
</section>

